{{ header }}
<main class="main special-page">

  <div id="product-search" class="container">
    <div class="row">
      <div id="content" class="">
        <h1 class="page-title">{{ heading_title }}</h1>
        {% if products %}
          <div class="row">
            <div class="col-lg-4 col-md-8 col-sm-12">
              <div class="form-group input-group input-group-sm mb-3">
                <label class="input-group-addon input-group-text sort-by" for="input-sort">{{ text_sort }}</label>
                <select id="input-sort" class="form-control form-select sort-by" onchange="location = this.value;">
                  {% for sorts in sorts %}
                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                      <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                    {% else %}
                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="row"> {% for product in products %}
              <div class="col-lg-4 col-md-6">
                <div class="product-card">
                  <div class="product-card-img">
                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></a>
                  </div>
                  <div class="product-card-content">
                    <h3><a href="{{ product.href }}">{{ product.name }}</a></h3>
                    <div class="product-bottom">
                      {% if product.price %}
                        <div class="product-price">
                          {% if not product.special %}
                            <span>{{ product.price }}</span>
                          {% else %}
                            <span>{{ product.special }}</span>
                            <small>{{ product.price }}</small>
                          {% endif %}
                        </div>
                      {% endif %}
                      <div class="product-actions">
                        <a href="#" onclick="return wishlist.add('{{ product.product_id }}');"><span class="icon-favorite"></span></a>
                        <a href="" onclick="return cart.add('{{ product.product_id }}');" class="add-to-cart"><span
                                  class="icon-cart"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %} </div>
          <div class="row">
            {{ pagination }}
          </div>
        {% else %}
          <p>{{ text_empty }}</p>
          <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-warning">{{ button_continue }}</a></div>
          </div>
        {% endif %}
        </div>
      </div>
  </div>

</main>

{{ footer }}
