{{ header }}
<main class="main information-page">
    <div id="information-information" class="container">
        <h1>{{ heading_title }}</h1>
        <div id="content" class="information-block d-flex">
            <div class="information-image-block">
                <img src="{{ content_top }}" alt="About company">
            </div>
            <div class="information-text-block">
                {{ description }}
            </div>
        </div>
    </div>
</main>
{{ footer }}