{{ header }}
<main class="main register-page password-page">
    <div id="account-password" class="container">
        <div class="row login-row">
            <div id="content" class="col-lg-6 col-md-8 col-sm-10 login-block register-block">
                <div class="login-block-register">
                    <a href="{{ back }}" class="btn btn-default">{{ button_back }}</a>
                </div>
                <div class="login-block-wrapper">
                    <div class="login-block-title">
                        <h1>{{ heading_title }}</h1>
                        <p>{{ text_password }}</p>
                    </div>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <div class="row">
                                {% if error_password %}
                                    <div class="col-sm-6">
                                        <div class="text-danger">{{ error_password }}</div>
                                    </div>
                                {% endif %}
                                {% if error_confirm %}
                                    <div class="col-sm-6">
                                        <div class="text-danger">{{ error_confirm }}</div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="password-block form-group required">
                                <input type="password" name="password" value="{{ password }}"
                                       placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                                <input type="password" name="confirm" value="{{ confirm }}"
                                       placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
                            </div>
                        </fieldset>
                        <div class="button-block">
                            <input type="submit" value="{{ button_continue }}" class="btn btn-warning"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{{ footer }}